/* Style for the bits display */
#clock {
  position: relative;
  top: 20px;
  left: 20px;
}

.bit {
  height: 25px;
  width: 25px;
  border-radius: 20%;
  display: inline-block;
  border: 3px solid #de4aaf; /* light grey */
  opacity: 0.8;
  margin: 0px 10px 10px 0px;
}

.active {
  background-color: #2bd894; /* green for active bits */
}

.row {
  display: flex;
}
